services:
  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - app1
      - app2
      - app3

  app1:
    container_name: app1
    build: .
    environment:
      - APP_NAME=App1
    ports:
      - "3001:3000"

  app2:
    container_name: app2
    build: .
    environment:
      - APP_NAME=App2
    ports:
      - "3002:3000"

  app3:
    container_name: app3
    build: .
    environment:
      - APP_NAME=App3
    ports:
      - "3003:3000"
